<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="/js/jquery-3.2.1.js"></script>
</head>
<body>
</body>
</html>
<script>
    // var aa=function (params) {
    //     document.querySelector('div').innerHTML=params[0].name;
    // }
    $.ajax({
        url:"/ajax",
        data:{url:"http://www.sxuek.com"},
        success:function (e) {
            $("body").html(e)
        }
    })
</script>
<!--<script src="http://localhost/jsonp/1.php?callback=aa"></script>-->